{% if load_modal %}
    {% if not url or url == "#" %}
        {# Alert to be sure the widget is correctly initialized #}
        <script>alert("No url provided for {{ id_li }} {{ url }}")</script>
    {% else %}
        <li class="{{ class_li }} trigger_modal" id="{{ id_li }}" data-url="{{ url }}">
            <a href="#" data-toggle="tooltip" title="{{ title }}" class="{{ class_a }}">{{ text }}</a>
        </li>
    {% endif %}
{% else %}
    <li class="{{ class_li }}" id="{{ id_li }}">
        <a href="{{ url }}" data-toggle="tooltip" title="{{ title }}" class="{{ class_a }}">{{ text }}</a>
    </li>
{% endif %}
