{% load i18n %}
<ul>
    {% for elem in parent.children_by_group_element_year %}
        <li>{{ elem.child.title }} ({% if elem.relative_credits %}{{ elem.relative_credits }}{% else %}{{ elem.child.credits|default_if_none:'0' }}{% endif %} {% trans 'credits'|lower %})</li>
        {% if elem.child.children_by_group_element_year %}
            {% include "education_group/blocks/pdf_branch.html" with parent=elem.child %}
        {% endif %}
    {% endfor %}
</ul>
<ul>
    {% for elem in parent.learning_unit_by_group_element_year %}
        <li>{{ elem.child.acronym }} {{ elem.child.specific_title }}
            [
            {% if elem.volumes.0 %}
                {{ elem.volumes.0 }}h
            {% else %}
                -h
            {% endif %}
            +
            {% if elem.volumes.1 %}
                {{ elem.volumes.1 }}h
            {% else %}
                -h
            {% endif %}
            ]
            ({% if elem.relative_credits %}{{ elem.relative_credits }}{% else %}{{ elem.child.credits|default_if_none:'0' }}{% endif %} {% trans 'credits'|lower %})
        </li>
    {% endfor %}
</ul>