{% extends "learning_unit/identification.html" %}
{% load i18n learning_unit bootstrap3 %}


{% block edit_academic_year %}
    <label style="margin-top:10px;">{% trans 'academic_start_year'%}</label><br>
    {{ learning_unit_year.learning_unit.start_year|academic_year }}
    <br>
    <form method="post" style="display: inline;">
        {% csrf_token %}
        {% bootstrap_form form_end_date %}
{% endblock %}

{% block panel_proposal %}
    {% with form_proposal as form %}
        {% include 'learning_unit/blocks/form/form_edit_proposal.html' %}
    {% endwith %}
    {% buttons %}
        <a href="{% url 'learning_unit' learning_unit_year_id=learning_unit_year.id %}" class="btn btn-default">
            {% trans 'cancel' %}
        </a>
        <button type="submit" class="btn btn-danger">{% trans 'i_confirm' %}</button>
    {% endbuttons %}
    </form>
{% endblock %}