{% load i18n bootstrap3 %}

<div class="panel">
    <div class="panel-heading"><label>{% trans 'Bibliography' %}</label></div>

    <div class="panel-body">
        {{ formset.management_form }}
        <table class="table">
            {% for form in formset %}
                <tr class="link-formset">
                    {% for field in form.visible_fields %}
                        <td>
                            {# Include the hidden fields in the form #}
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {% bootstrap_field field %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</div>