{% load i18n %}

{% if proposal %}
    <div class="panel panel-default">
        <div class="panel-heading">
            {% trans 'proposal' %}
        </div>
        <dl class="panel-body">
            <dt>{% trans 'folder' %}</dt>
            <dd>{{ proposal_folder_entity_version.0.acronym}} - {{ proposal.folder_id }}</dd><br>

            <dt>{% trans 'type' %}</dt>
            <dd>{% trans proposal.type %}</dd><br>

            {% block proposal_state %}
                <dt>{% trans 'state' %}</dt>
                <dd>{% trans proposal.state %}</dd><br>
            {% endblock proposal_state %}

            <dt>{% trans 'introduced_by' %}</dt>
            <dd>{{ proposal.author }}</dd><br>

            <dt>{% trans 'the' %}</dt>
            <dd>{{ proposal.date }}</dd>
        </dl>
    </div>
{% endif %}
