[run]
branch = True
source = .
omit =
   */migrations/*
   */tests/*
   dissertation/*
   assistant/*
   doc/*
   osis_common/*
   internship/*

[report]
fail_under = 100
precision = 2
sort = Cover
skip_covered=True
