[submodule "osis_common"]
	path = osis_common
	url = https://github.com/uclouvain/osis-common.git
	branch = master
[submodule "internship"]
	path = internship
	url = https://github.com/uclouvain/osis-internship.git
[submodule "osis-internship"]
	path = osis-internship
	url = https://github.com/uclouvain/osis-internship.git
