[submodule "osis_common"]
	path = osis_common
	url = https://github.com/uclouvain/osis-common.git
	branch = master
[submodule "internship"]
	path = internship
	url = https://github.com/uclouvain/osis-internship.git
[submodule "mobility"]
	path = mobility
	url = https://github.com/uclouvain/osis-mobility.git
[submodule "partnership"]
	path = partnership
	url = https://github.com/uclouvain/osis-partnership.git
[submodule "dissertation"]
	path = dissertation
	url = https://github.com/uclouvain/osis-dissertation.git
