{% extends "blocks/forms/search_form.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block search_form_row_1 %}
    <div class="col-md-2">
        {% bootstrap_field form.academic_year_id %}
    </div>

    <div class="col-md-2">
        {% bootstrap_field form.acronym %}
    </div>

    <div class="col-md-4">
        {% bootstrap_field form.title %}
    </div>

    <div class="col-md-2">
        {% bootstrap_field form.container_type %}
    </div>

    <div class="col-md-2">
        {% bootstrap_field form.subtype %}
    </div>
{% endblock %}

{% block search_form_row_2 %}
    <div class="col-md-4">
        {% bootstrap_field form.summary_responsible %}
    </div>
{% endblock %}
