{% load bootstrap3 %}
{% load i18n %}

<div class="col-md-5" style="padding-left:0;">
    <div class="col-md-12">
        <label for="{{ form.acronym.id_for_label }}">{% trans 'code'%}</label>
    </div>

    <div class="col-md-3" style="padding-right:0;">
        {{ form.first_letter }}
        <span class="error">{{ form.first_letter.errors }}</span>
    </div>
    <div class="col-md-9" style="padding:0;">
        {{ form.acronym }}
        <span class='error' id="{{ form.acronym.name }}_message" for='{{ form.acronym.name }}' generated="true">
        {{ form.acronym.errors }}
        </span>
    </div>
</div>
