{% load bootstrap3 %}
{% load i18n %}
<div class="panel panel-default">
    <div class="panel-heading">
       <label>{% trans 'components' %}</label>
    </div>
    <div class="panel-body">
        <div class="row">
            {% bootstrap_field learning_unit_year_form.session form_group_class="col-md-3" %}
            {% bootstrap_field learning_unit_year_form.quadrimester form_group_class="col-md-3" %}
        </div>
        {% include "learning_unit/blocks/form/simplified_volumes_management_form.html" %}
    </div>
</div>