{% load bootstrap3 i18n %}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group">
            <label>{% trans 'institution'%}</label><br>

            {% if learning_unit_year.campus %}
                {{ learning_unit_year.campus.organization.name }}
            {% endif %}
        </div>
        {% bootstrap_field learning_unit_year_form.campus %}
        {% for form in entity_container_form.forms %}
            {% bootstrap_field form.entity %}
        {% endfor %}
        {% bootstrap_field learning_unit_year_form.academic_year %}
    </div>
</div>

