{% load bootstrap3 %}
{% load i18n %}
{% load l10n %}

<div class="row">
    {% bootstrap_field learning_unit_year_form.acronym form_group_class="acronym-group col-md-4" %}
    {% bootstrap_field learning_container_year_form.container_type form_group_class="col-md-3" %}
    {% if learning_unit_year_form.internship_subtype in learning_unit_year_form.visible_fields %}
        {% bootstrap_field  learning_unit_year_form.internship_subtype form_group_class="col-md-5"%}
    {% endif %}
</div>

<br>

<div class="row">
    <div class="col-md-3">
        <label>{% trans 'credits'%}</label><br>
        <input type="number" step="0.5" id='id_credits' name='credits'
               value="{{ learning_unit_year_form.credits.value|floatformat }}"
               class="form-control ignore-js-validator"></input>
    </div>
    {% bootstrap_field learning_unit_year_form.periodicity form_group_class="col-md-3" %}
    {% bootstrap_field learning_unit_year_form.status form_group_class="col-md-2" %}
    {% bootstrap_field learning_unit_year_form.language form_group_class="col-md-4" %}
</div>

<br>

<div class="row">
    {% bootstrap_field learning_unit_year_form.professional_integration form_group_class="col-md-3" %}
</div>
