
<div class="row">

    {% block acronym %}
        {% include "learning_unit/blocks/acronym.html" %}
    {% endblock %}

    {% block partims %}
        {% include "learning_unit/blocks/partims.html" %}
    {% endblock %}

    {% block type %}
        {% include "learning_unit/blocks/type.html" %}
    {% endblock %}

</div>

<div class="row" style="margin-top:10px;">

    {% block nominal_credits %}
        {% include "learning_unit/blocks/nominal_credits.html" %}
    {% endblock %}

    {% block language %}
        {% include "learning_unit/blocks/language.html" %}
    {% endblock %}

</div>