
{% load bootstrap3 %}
{% load i18n %}

<div class="form-group">
    <label for="{{ form.partial_title.id_for_label }}">
        {% trans 'official_title_proper_to_UE' %}
    </label>
    {{ form.partial_title }}
    <span class="error">
        {{ form.partial_title.errors }}
    </span>
</div>

<div class="form-group">
    <label for="{{ form.partial_english_title.id_for_label }}">
        {% trans 'official_english_title_proper_to_UE' %}
    </label>
    {{ form.partial_english_title}}
    <span class="error">
        {{ form.partial_english_title.errors }}
    </span>
</div>
