{% load bootstrap3 %}
{% load i18n %}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">

            {% bootstrap_field learning_container_year_form.is_vacant form_group_class="col-md-2"  %}
            {% bootstrap_field learning_container_year_form.team form_group_class="col-md-2" %}
            {% bootstrap_field learning_container_year_form.type_declaration_vacant form_group_class="col-md-4" %}
            {% bootstrap_field learning_unit_year_form.attribution_procedure form_group_class="col-md-3" %}

        </div>
    </div>
</div>
