{% load bootstrap3 i18n %}
<div class="row">
    <div class="col-md-3">
        {% bootstrap_label _("folder") %}
    </div>
    <div class="col-md-5">
        {% bootstrap_field form.entity show_label=False %}
    </div>
    <div class="col-md-4">
        {% bootstrap_field form.folder_id show_label=False %}
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        {% bootstrap_label _("state") %}
    </div>
    <div class="col-md-9">
        {% bootstrap_field form.state show_label=False %}
    </div>
</div>
{% block script %}
<script>
    window.onload = function() {
        window.scrollTo(0,document.body.scrollHeight);
    };
</script>
{% endblock %}