{% load bootstrap3 %}
{% load i18n %}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-2 col-md-offset-8">
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> {% trans 'save' %}
                </button>
            </div>

            <div class="col-md-2">
                <a href="{% url 'learning_unit' learning_unit_year.id %}" class="btn btn-default" role="button">
                    {% trans 'cancel' %}
                </a>
            </div>
        </div>
    </div>
</div>