{% load bootstrap3 %}
{% load i18n %}

<div class="row">
    <div class="col-md-4 col-md-offset-8">
        <a href="{% url 'learning_unit' learning_unit_year.id %}" class="btn btn-default pull-right"
           style="margin-left: 10px;" role="button">
            {% trans 'cancel' %}
        </a>

        {# We do not need postponement for learning unit in the past #}
        {% if learning_unit_year.is_past %}
            <button type="submit" class="btn btn-primary pull-right">
                <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> {% trans 'save' %}
            </button>
        {% else %}
            <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#modalReport">
                <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> {% trans 'save' %}
            </button>
        {% endif %}
    </div>
</div>
