
{% load bootstrap3 %}
{% load i18n %}

<!-- FRENCH PART -->
<div class="form-group">
    <label for="{{ form.common_title.id_for_label }}">
        {% trans 'common_official_title' %}
    </label>
    {{ form.common_title }}
    <span class="error">
        {{ form.common_title.errors }}
    </span>
</div>
<div class="form-group">
    {{ form.specific_title.label_tag }}
    {{ form.specific_title }}
    <span class="error">
        {{ form.specific_title.errors }}
    </span>
</div>

<!-- ENGLISH PART -->
<div class="form-group">
    <label for="{{ form.common_title_english.id_for_label }}">
        {% trans 'common_official_english_title' %}
    </label>
    {{ form.common_title_english }}
    <span class="error">
        {{ form.common_title_english.errors }}
    </span>
</div>
<div class="form-group">
    {{ form.specific_title_english.label_tag }}
    {{ form.specific_title_english}}
    <span class="error">
        {{ form.specific_title_english.errors }}
    </span>
</div>