{% load i18n %}

{% if learning_unit_years_with_errors %}
    <table id="table_learning_units" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>{% trans 'academic_year_small' %}</th>
                <th>{% trans 'courses' %}</th>
                <th>{% trans 'title' %}</th>
                <th>{% trans 'requirement_entity' %}</th>
                <th>{% trans 'Educational information opening' %}</th>
                <th>{% trans 'Educational information ending' %}</th>
                <th>{% trans 'summary_responsible' %}</th>
                <th>Editable</th>
            </tr>
        </thead>
        <tbody>
            {% for luy, error in learning_unit_years_with_errors %}
                {% with requirement_entity=luy.requirement_entity %}
                <tr data-id="{{luy.id}}" data-value="{{luy.acronym}}">
                    <td>{{ luy.academic_year }}</td>
                    <td>
                        <a href="{% url "view_educational_information" learning_unit_year_id=luy.id %}" title="{% trans 'manage_educational_information' %}">
                            {{ luy.acronym }}
                        </a>
                    </td>
                    <td>{{ luy.complete_title|default_if_none:'' }}</td>
                    <td>{{ requirement_entity|default_if_none:'-' }}</td>
                    {% if requirement_entity %}
                        {% with entity_calendar=entity_calendars|get_item:requirement_entity.id %}
                            <td>{% if entity_calendar %} {{ entity_calendar|get_item:'start_date' }} {% endif %}</td>
                            <td>{% if entity_calendar %} {{ entity_calendar|get_item:'end_date' }} {% endif %}</td>
                        {% endwith %}
                    {% else %}
                        <td>-</td>
                        <td>-</td>
                    {% endif %}
                    <td>{{ score_responsibles|get_item:luy.id|join:", " }}</td>
                    <td>{% include "manage_my_courses/blocks/span_education_information_editable.html" with status=error.is_valid title=error.as_ul %}</td>
                </tr>
                {% endwith %}
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div id="no_attribution_warning_message" class="alert alert-warning" role="alert">
        {% trans 'no_attribution_summary_editable' %}
    </div>
{% endif %}
