body {
  padding-top: 70px;
}

#table_learning_units a:visited {
    color:purple;
}

.info {
  color:blue;
}

.success {
  color:green;
}

.warning {
  color:orange;
}

.error {
  color:red;
}

.btn.btn-as-block {
  display: block;
}

.invisible{
  visibility: hidden;
}

/* Hides the spinner of number fields. */
input[type=number] {
    -moz-appearance:textfield;
    -webkit-appearance: none;
}

/**
 * Progress bars with centered text
 */

.progress {
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
 }

#pnl_add_manager_modal .modal-dialog  {
    width:90%;
}

div[class^="django-ckeditor-widget"],
div[class^="django-ckeditor-widget"] > textarea,
div[class^="django-ckeditor-widget"] > div {
    width:100%!important;
}

tbody.used_component{
    background-color: #ececec;
}

tbody.used_component tr.class_year{
    background-color: #ecfcfc;
}

tbody.unused_component{
    background-color: #f3f3f3;
    color: #909090;
}

tbody.unused_component tr.class_year{
    background-color: #f3fcfc;
}

tr.class_year{
    font-size: 80%;
}

tr.class_year_head{
    font-weight: bold;
}

table.volumes tbody tr th{
    text-align: center;
}

table.volumes tbody tr td{
    text-align: center;
}

table.volumes_read tbody tr td,th{
    text-align: left;
}

table.volumes tbody tr td input{
    text-align: center;
}

table.volumes tbody{
    border-top: 2px solid #c0c0c0;
    border-bottom: 2px solid #c0c0c0;
}

table.volumes tbody tr td:nth-child(1),
table.volumes tbody tr td:nth-child(8),
table.volumes tbody tr th:nth-child(1),
table.volumes tbody tr th:nth-child(8){
    background-color: #f3f3f3;
}

table.volumes thead{
    border: 2px solid #ddd;
}

.badge.fixed_width{
    width: 60px;
}

.badge.success-color {
    background-color: #5cb85c;
}

.badge.warning-color {
    background-color: #f0ad4e;
}

.badge.danger-color {
    background-color: #d9534f;
}

.notification:after {
    content: "";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    background: red;
    top: -3px;
    right: -2px;
    border-radius: 50%;
}

.no_label{
    font-weight: normal;
}

/* Override style for trash in ajax-multi-select*/
input[type="text"].ui-autocomplete-input:disabled ~ .results_on_deck .ui-icon{
    display: none!important;
}

.results_on_deck .ui-icon.ui-icon-trash {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    text-indent: 0px;
    float: none;
    font-size: 16px;
    background-image: none;
    width: 14px;
    color: transparent;
}

.results_on_deck .ui-icon.ui-icon-trash:before {
    color: black;
    content: "\f00d";
}

.table_header{
    background-color: lightgray;
}

.p0-50 {
    padding: 0px 50px;
}

.education_group_year-common {
    color: darkgray;
}

.italic {
    font-style: italic;
}

/* Ensure that jstree contextmenu is always on top */
.vakata-context {
    z-index: 100;
}
.navbar-fixed-bottom {
    z-index: 10;
}

/* Styles for dhtmlxGantt (calendar) */
.projectRow{
  	background-color: lightgray!important
}

.releaseCol{
    background-color: teal!important
}
.releaseCol a{
    color: white;
}