{% extends "layout.html" %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load i18n %}

{% load learning_unit %}

{% block breadcrumb %}
<li><a href="{% url 'catalog' %}" id="lnk_catalog">{% trans 'formation_catalogue' %}</a></li>
<li><a href="{% url 'learning_units' %}" id="lnk_learning_units">{% trans 'learning_units' %}</a></li>
<li><a href="{% url 'learning_unit' learning_unit_year.id %}" id="lnk_learning_units">{{learning_unit_year.acronym}}</a></li>
<li class="active">{% trans 'modification'|capfirst %}</li>
{% endblock %}

{% block header %}
{% endblock header %}

{% block content %}

{% with disabled_nav=True %}
  {% include "learning_unit/blocks/header.html" %}
{% endwith %}

<div class="panel panel-default" >
    <div class="panel-body" id="tabs" >

        {% block tabs %}
        {% endblock tabs %}
        <br>
        <div class="tab-content" id="tab_content">
            <div role="tabpanel" class="tab-pane active">

                {% block form %}
                    <form method="post" id="LearningUnitYearForm"
                          data-validate-url="{% url 'check_acronym' subtype=learning_unit_year.subtype %}">
                        {% block submit_up %}
                            {% include "learning_unit/blocks/save_cancel_buttons.html" %}
                        {% endblock submit_up %}
                        {% csrf_token %}
                        {% bootstrap_form_errors learning_unit_year_form %}
                        {% bootstrap_form_errors learning_unit_form %}
                        {% bootstrap_form_errors learning_container_year_form %}
                        {% if form_proposal %}{% bootstrap_form_errors form_proposal %}{% endif %}
                        <div class="row">
                            <div class="col-md-8">

                                {% block learning_unit_identification %}
                                    <div class="panel panel-default">
                                        <div class="panel-body">

                                            {% include "learning_unit/blocks/learning_unit_identification.html" %}
                                            <br>
                                            <div class="row">

                                                {% block periodicity %}
                                                    {% bootstrap_field learning_unit_form.periodicity form_group_class="col-md-3" %}
                                                {% endblock periodicity %}

                                                {% block quadrimester %}
                                                    {% bootstrap_field learning_unit_year_form.quadrimester form_group_class="col-md-3" %}
                                                {% endblock quadrimester %}

                                                {% block quadrimester_session_title %}
                                                    {% bootstrap_field learning_unit_year_form.session form_group_class="col-md-3" %}
                                                {% endblock quadrimester_session_title %}

                                            </div>

                                            <br>
                                            {% block titles %}
                                                 {% include "learning_unit/blocks/titles.html" %}
                                            {% endblock titles %}
                                        </div>
                                    </div>

                                {% endblock learning_unit_identification %}

                                {% block remarks %}
                                    {% include "learning_unit/blocks/remarks.html" %}
                                {% endblock remarks %}

                                {% block components %}
                                    {% if components %}
                                        {% include "learning_unit/components_identification.html" %}
                                    {% endif %}
                                {% endblock components %}

                                {% block partim_attributes %}
                                    {% if learning_unit_year.subtype != "PARTIM" %}
                                        {% include "learning_unit/blocks/partim_attributes.html" %}
                                    {% endif %}
                                {% endblock partim_attributes %}
                            </div>

                            <div class="col-md-4">
                                {% block institution %}
                                    {% include "learning_unit/blocks/institution.html" %}
                                {% endblock %}

                                {% block proposal_management %}
                                {% endblock proposal_management%}
                            </div>
                        </div>

                        {% block submit_down %}
                            {% include "learning_unit/blocks/save_cancel_buttons.html" %}
                        {% endblock submit_down %}


                        {% block modal %}
                        {% endblock modal %}

                    </form>
                {% endblock form %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
    <script type="text/javascript">const learning_unit_current_subtype = "{{ subtype }}";</script>
    <script type="text/javascript" src="{% static 'js/learning_unit_creation.js' %}"></script>
{% endblock script %}
