{% extends "layout.html" %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load i18n %}

{% load learning_unit %}

{% block breadcrumb %}
<li><a href="{% url 'catalog' %}" id="lnk_catalog">{% trans 'formation_catalogue' %}</a></li>
<li><a href="{% url 'learning_units' %}" id="lnk_learning_units">{% trans 'learning_units' %}</a></li>
<li><a href="{% url 'learning_unit' learning_unit_year.id %}" id="lnk_learning_units">{{learning_unit_year.acronym}}</a></li>
<li class="active">{% trans 'modification'|capfirst %}</li>
{% endblock %}

{% block header %}
{% endblock header %}

{% block content %}

    {% with disabled_nav=True %}
      {% include "learning_unit/header.html" %}
    {% endwith %}

<div class="panel panel-default" >
    <div class="panel-body" id="tabs" >

        {% block tabs %}
        {% endblock tabs %}

        <div class="tab-content" id="tab_content">
            <div role="tabpanel" class="tab-pane active">

                {% block form %}
                    <form method="post" id="LearningUnitYearForm" data-validate-url="{% url 'check_acronym' type=learning_unit_year.subtype %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-8">

                                {% block learning_unit_identification %}
                                    {% include "learning_unit/blocks/learning_unit_identification.html" %}
                                {% endblock %}

                                {% block components %}
                                {% endblock components %}

                                {% block partim_attributes %}
                                {% endblock partim_attributes %}

                            </div>

                            <div class="col-md-4">
                                {% block institution %}
                                    {% include "learning_unit/blocks/institution.html" %}
                                {% endblock %}

                                {% block proposal_management %}
                                    {% include "learning_unit/blocks/proposal_management.html" %}
                                {% endblock proposal_management%}
                            </div>
                        </div>

                        <div class="row">
                            {% block submit %}
                                {% include "learning_unit/blocks/save_cancel_buttons.html" %}
                            {% endblock submit %}
                        </div>
                    </form>
                {% endblock form %}

            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
{% endblock script %}