{% extends "layout.html" %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load i18n %}

{% load learning_unit %}

{% block breadcrumb %}
<li><a href="{% url 'catalog' %}" id="lnk_catalog">{% trans 'formation_catalogue' %}</a></li>
<li><a href="{% url 'learning_units' %}" id="lnk_learning_units">{% trans 'learning_units' %}</a></li>
<li><a href="{% url 'learning_unit' learning_unit_year.id %}" id="lnk_learning_units">{{learning_unit_year.acronym}}</a></li>
<li class="active">{% trans 'modification'|capfirst %}</li>
{% endblock %}

{% block header %}
{% endblock header %}

{% block content %}

{% with disabled_nav=True %}
  {% include "learning_unit/header.html" %}
{% endwith %}

<div class="panel panel-default" >
    <div class="panel-body" id="tabs" >

        {% block tabs %}
        {% endblock tabs %}
        <br>
        <div class="tab-content" id="tab_content">
            <div role="tabpanel" class="tab-pane active">

                {% block form %}

                    <form method="post" id="LearningUnitYearForm"
                          data-validate-url="{% url 'check_acronym' type=learning_unit_year.subtype %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-8">

                                {% block learning_unit_identification %}
                                    <div class="panel panel-default">
                                        <div class="panel-body">

                                            {% include "learning_unit/blocks/learning_unit_identification.html" %}

                                            <div class="row">

                                                {% block periodicity %}
                                                {% endblock periodicity %}

                                                {% block quadrimester %}
                                                {% endblock quadrimester %}

                                                {% block quadrimester_session_title %}
                                                {% endblock quadrimester_session_title %}

                                            </div>

                                            <br>
                                            {% block titles %}
                                                 {% include "learning_unit/blocks/titles.html" %}
                                            {% endblock titles %}
                                        </div>
                                    </div>

                                {% endblock learning_unit_identification %}

                                {% block remarks %}
                                {% endblock remarks %}

                                {% block components %}
                                {% endblock components %}

                                {% block partim_attributes %}
                                {% endblock partim_attributes %}

                            </div>

                            <div class="col-md-4">
                                {% block institution %}
                                    {% include "learning_unit/blocks/institution.html" %}
                                {% endblock %}

                                {% block proposal_management %}
                                {% endblock proposal_management%}
                            </div>
                        </div>

                        <div class="row">
                            {% block submit %}
                                {% include "learning_unit/blocks/save_cancel_buttons.html" %}
                            {% endblock submit %}
                        </div>

                        {% block modal %}
                        {% endblock modal %}

                    </form>

                {% endblock form %}

            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
    <script type="text/javascript">
        const trans_existed_acronym = "{% trans 'existed_acronym' %}";
        const trans_invalid_acronym = "{% trans 'invalid_acronym' %}";
        const trans_field_required = "{% trans 'field_is_required' %}";
        const trans_field_min = "{% trans 'min_for_field' %}";
        const trans_field_max = "{% trans 'max_for_field' %}";
        const form_acronym_regex = "{{ form.acronym_regex }}";
        const currentAcronym = "{{ learning_unit_year.acronym }}";
        const learning_unit_current_subtype = "{{ learning_unit_year.subtype }}";
    </script>
    <script type="text/javascript" src="{% static 'js/learning_unit_creation.js' %}"></script>
{% endblock script %}
