{% extends "learning_unit_layout.html" %}

{% block content %}


                <form method="post" id="LearningUnitYearForm" data-validate-url="{% url 'check_acronym' type=learning_unit_year.subtype %}">
                  {% csrf_token %}
                  <div class="row">
                      <div class="col-md-8">
                          <div class="panel panel-default">
                              <div class="panel-body">
                                  <div class="row">

                                      <div class="col-md-3" style="padding-left:0;">
                                        {% block acronym %}
                                            {% include "learning_unit/blocks/acronym.html" %}
                                        {% endblock %}
                                      </div>

                                      <div class="col-md-3">
                                        {% block partims %}
                                            {% include "learning_unit/blocks/institution.html" %}
                                        {% endblock %}
                                      </div>

                                      <div class="form_group col-md-3">
                                          <label for="{{ form.container_type.id_for_label }}">{% trans 'type' %}</label>
                                          {{ form.container_type }}
                                          <span class="error">{{ form.container_type.errors }}</span>
                                      </div>

                                      <div class="col-md-3">
                                          <label for="{{ form.internship_subtype.id_for_label }}">{% trans 'internship_subtype' %}</label>
                                          {{ form.internship_subtype }}
                                          <span class="error">{{ form.internship_subtype.errors }}</span>
                                      </div>

                                  </div>

                                  <div class="row" style="margin-top:10px;">

                                      <div class="from-group col-md-3">
                                          <label for="{{ form.credits.id_for_label }}">{% trans 'nominal_credits' %}</label>
                                          {{ form.credits }}
                                          <span class="error">{{ form.credits.errors }}</span>
                                      </div>

                                      <div class="form-group col-md-3">
                                          <label for="{{ form.periodicity.id_for_label }}">{% trans 'periodicity' %}</label>
                                          {{ form.periodicity }}
                                          <span class="error">{{ form.periodicity.errors }}</span>
                                      </div>

                                      <div class="form-group col-md-3">
                                          <label for="{{ form.status.id_for_label }}">{% trans 'active_title' %}</label>
                                          {{ form.status }}
                                          <span class="error">{{ form.status.errors }}</span>
                                      </div>

                                       <div class="form-group col-md-3">
                                           <label for="{{ form.language.id_for_label }}">{% trans 'language' %}</label>
                                           {{ form.language }}
                                           <span class="error">{{ form.language.errors }}</span>
                                       </div>

                                  </div>

                                  <div class="row">

                                    <div class="col-md-3">
                                        <label for="{{ form.quadrimester.id_for_label }}">{% trans 'quadrimester' %}</label>
                                        {{ form.quadrimester }}
                                        <span class="error">{{ form.quadrimester.errors }}</span>
                                    </div>

                                    <div class="col-md-3">
                                        <label for="{{ form.quadrimester.id_for_label }}">{% trans 'session_title' %}</label>
                                        {{ form.quadrimester }}
                                        <span class="error">{{ form.quadrimester.errors }}</span>
                                    </div>

                                  </div>

                                  <br>

                                  <div class="form-group">
                                    <label for="{{ form.common_title.id_for_label }}">{% trans 'common_official_title' %}</label>
                                    {{ form.common_title }}
                                      <span class="error">{{ form.common_title.errors }}</span>
                                  </div>

                                  <div class="form-group">
                                    <label for="{{ form.partial_title.id_for_label }}">{% trans 'official_title_proper_to_UE' %}</label>
                                    {{ form.partial_title }}
                                      <span class="error">{{ form.partial_title.errors }}</span>
                                  </div>

                                  <br>

                                  <div class="form-group">
                                    <label for="{{ form.common_title_english.id_for_label }}">{% trans 'common_official_english_title' %}</label>
                                    {{ form.common_title_english }}
                                      <span class="error">{{ form.common_title_english.errors }}</span>
                                  </div>

                                  <div class="form-group">
                                    <label for="{{ form.partial_english_title.id_for_label }}">{% trans 'official_english_title_proper_to_UE' %}</label>
                                    {{ form.partial_english_title}}
                                      <span class="error">{{ form.partial_english_title.errors }}</span>
                                  </div>

                              </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-body">
                                <div>
                                    <label for="{{ form.faculty_remarks.id_for_label }}">{% trans 'faculty_remark' %}</label><br>
                                    {{ form.faculty_remark }}
                                    <span class="error">{{ form.faculty.errors }}</span>
                                </div>
                                <br>
                                <div>
                                    <label for="{{ form.other_remark.id_for_label }}">{% trans 'other_remark' %}</label><br>
                                    {{ form.other_remark }}
                                    <span class="error">{{ form.other_remark.errors }}</span>
                                </div>
                            </div>
                          </div>

                          {% if learning_unit_year.subtype != "PARTIM" %}
                          <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="{{ form.is_vacant.id_for_label }}">
                                            {{ form.is_vacant }} {% trans 'vacant' %}
                                        </label>
                                        <span class="error">{{ form.is_vacant.errors }}</span>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="{{ form.team.id_for_label }}">
                                            {{ form.team }} {% trans 'team_management' %}
                                        </label>
                                        <span class="error">{{ form.team.errors }}</span>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="{{ form.type_declaration_vacant.id_for_label }}">{% trans 'type_declaration_vacant' %}</label><br>
                                        {{ form.type_declaration_vacant }}
                                        <span class="error">{{ form.type_declaration_vacant.errors }}</span>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="{{ form.attribution_procedure.id_for_label }}">{% trans 'procedure' %}</label><br>
                                        {{ form.attribution_procedure }}
                                        <span class="error">{{ form.attribution_procedure.errors }}</span>
                                    </div>
                                </div>
                            </div>
                           </div>
                          {% endif %}

                      </div>

                  </div>

                  <div class="row">
                    <div class="col-md-2 col-md-offset-8">
                      <button type="submit" class="btn btn-primary">{% trans 'save' %}</button>
                    </div>
                    <div class="col-md-2">
                      <a href="{% url 'learning_unit' learning_unit_year.id %}" class="btn btn-default" role="button">{% trans 'cancel' %}</a>
                    </div>
                  </div>

                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        const trans_existed_acronym = "{% trans 'existed_acronym' %}";
        const trans_invalid_acronym = "{% trans 'invalid_acronym' %}";
        const trans_field_required = "{% trans 'field_is_required' %}";
        const form_acronym_regex = /{{ form.acronym_regex }}/;
        const currentAcronym = "{{ learning_unit_year.acronym }}"
    </script>
    <script type="text/javascript" src="{% static 'js/learning_unit_creation.js' %}"></script>
{% endblock %}