{% extends "learning_unit/learning_unit_layout.html" %}
{% load bootstrap3 %}

{% block periodicity %}
    <div class="col-md-3">{% bootstrap_field learning_unit_form.periodicity %}</div>
{% endblock periodicity %}

{% block quadrimester %}
    <div class="col-md-3">{% bootstrap_field learning_unit_year_form.quadrimester %}</div>
{% endblock quadrimester %}

{% block quadrimester_session_title %}
    <div class="col-md-3">{% bootstrap_field learning_unit_year_form.session %}</div>
{% endblock quadrimester_session_title %}


{% block remarks %}
    {% include "learning_unit/blocks/remarks.html" %}
{% endblock remarks %}

{% block partim_attributes %}
    {% if learning_unit_year.subtype != "PARTIM" %}
        {% include "learning_unit/blocks/partim_attributes.html" %}
    {% endif %}
{% endblock partim_attributes %}

{% block submit %}
    {% include "learning_unit/blocks/save_cancel_buttons_with_modal.html" %}
{% endblock submit %}

{% block modal %}
    {% include "learning_unit/blocks/modal/modal_modification_ask_to_report.html" %}
{% endblock modal %}
