{% extends "learning_unit/learning_unit_layout.html" %}

{% block periodicity %}
    {% include "learning_unit/blocks/periodicity.html" %}
{% endblock periodicity %}

{% block quadrimester %}
    {% include "learning_unit/blocks/quadrimester.html" %}
{% endblock quadrimester %}

{% block quadrimester_session_title %}
    {% include "learning_unit/blocks/quadrimester_session_title.html" %}
{% endblock quadrimester_session_title %}


{% block remarks %}
    {% include "learning_unit/blocks/remarks.html" %}
{% endblock remarks %}

{% block partim_attributes %}
    {% if learning_unit_year.subtype != "PARTIM" %}
        {% include "learning_unit/blocks/partim_attributes.html" %}
    {% endif %}
{% endblock partim_attributes %}

{% block submit %}
    {% include "learning_unit/blocks/save_cancel_buttons_with_modal.html" %}
{% endblock submit %}

{% block modal %}
    {% include "learning_unit/components/modal_modification_ask_to_report.html" %}
{% endblock modal %}
