---
layout: page
title: Roadmap OSIS Common
permalink: /roadmap/osis_common/
categories: ['osis-common']
---

{% for year in site.data.roadmap_osiscommon %}
  <h2>{{ year.year }}</h2>
  {% if year.unreleased %}
    <h3>Unreleased</h3>
    {% for unreleased in year.unreleased %}
      <h4>{{ unreleased.version }} - {{ unreleased.date }}</h4>
    {% endfor %}
  {% endif %}
  {% if year.released %}
    <h3>Released</h3>
    {% for released in year.released %}
      <h4>{{ released.version }} - {{ released.date }}</h4>
      {% if released.added %}
        <h5>Added</h5>
        <ul>
        {% for added in released.added %}
          <li>{{ added }}</li>
        {% endfor %}
        </ul>
      {% endif %}
      {% if released.changed %}
        <h5>Changed</h5>
        <ul>
        {% for changed in released.changed %}
          <li>{{ changed }}</li>
        {% endfor %}
        </ul>
      {% endif %}
      {% if released.deprecated %}
        <h5>Deprecated</h5>
        <ul>
        {% for deprecated in released.deprecated %}
          <li>{{ deprecated }}</li>
        {% endfor %}
        </ul>
      {% endif %}
      {% if released.removed %}
        <h5>Removed</h5>
        <ul>
        {% for removed in released.removed %}
          <li>{{ removed }}</li>
        {% endfor %}
        </ul>
      {% endif %}
      {% if released.fixed %}
        <h5>Fixed</h5>
        <ul>
        {% for fixed in released.fixed %}
          <li>{{ fixed }}</li>
        {% endfor %}
        </ul>
      {% endif %}
      {% if released.security %}
        <h5>Security</h5>
        <ul>
        {% for security in released.security %}
          <li>{{ security }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
