{% load i18n bootstrap3 %}

<div class="modal-header">
    {{ object.organization.name | title }}
</div>

<div class="modal-body">
    {% trans "Are you sure you want to delete the coorganization?" %}
</div>

<div class="modal-footer">
    <form method="post" id="form_delete_coorganization" action="{{ request.path }}">
        {% csrf_token %}
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "cancel" %}</button>
        <button type="submit" class="btn btn-danger" id="btn_coorganization_delete">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            {% trans "delete" %}
        </button>
    </form>
</div>
