{% extends "education_group/layout.html" %}


{% block breadcrumb %}
    {{ block.super }}
    <li class="active">
        {{ learning_unit_year.acronym }}
    </li>
{% endblock %}


{% block header_content %}
    <div class="page-header">
        <h2>
            {{ learning_unit_year.acronym }} - {{ learning_unit_year.complete_title }}
            <small style="color:black;font-family:Verdana;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ learning_unit_year.academic_year }}</small>
        </h2>
    </div>
{% endblock %}