{% load i18n %}
{% load notifications %}
{% get_notifications as list_notifications %}
{% get_number_unread_notifications list_notifications as  number_unread_notifications %}

<p class="text-center">
    <small >
        <b>{% blocktrans with number_notifications=number_unread_notifications %}{{ number_notifications }} unread notification(s){% endblocktrans %}</b>
    </small>
</p>
<ul class="list-unstyled" aria-labelledby="dLabel" style="overflow-y: auto; max-height: 250px">
    {% for notification in list_notifications %}
        <li class="divider"></li>
        <li>
            {% if notification.unread %}
                <p class="text-nowrap" style="padding-left: 10px;padding-right: 15px">
                    <span class="glyphicon glyphicon-calendar"></span>{{ notification.verb }}
                </p>
            {% else %}
                <p class="text-nowrap text-muted" style="padding-left: 10px;padding-right: 15px">
                    <span class="glyphicon glyphicon-calendar" style="padding-right: 5px"></span><small>{{ notification.verb }}</small>
                </p>
            {% endif %}

        </li>
        {% if forloop.last %}
            <li class="divider"></li>
        {% endif %}
    {% endfor %}

</ul>
{% if list_notifications%}
<p class="text-center">
    <a href="#" id="lnk_clear_notifications">{% trans "Clear notifications" %}</a>
</p>
{% endif %}
