{% load notifications %}
{%  get_notifications as list_notifications %}

<div class="dropdown">
    <button id="notifications_dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            class="btn btn-default btn-lg btn-link">
        <span class="glyphicon glyphicon-bell notification"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dLabel">
        {% for notification in list_notifications %}
            <li>
                <strong>{{ notification.start_date|date:"d/n" }}</strong>:
                <br>
                <small>{{ notification.title }} </small>
            </li>
            {% if not forloop.last %}
            <li class="divider"></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
