{% load i18n %}
{% load notifications %}
{% get_notifications as list_notifications %}
{% get_number_unread_notifications list_notifications as  number_unread_notifications %}

<li class="dropdown" id="notifications_dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
       aria-expanded="false" id="bt_user">
        <span class="glyphicon glyphicon-bell {% if number_unread_notifications %}notification{% endif %}" id="notifications_bell"></span>
    </a>
    <div class="dropdown-menu" aria-labelledby="dLabel" id="notifications_content">
        {% include "blocks/notifications_inner.html" %}
    </div>
</li>

{% if list_notifications %}
<script>
    url_mark_as_read = "{% url "mark_notifications_as_read" %}";
    $("#notifications_dropdown").on("hidden.bs.dropdown", function(){
        $.ajax({
          method: "POST",
          url: url_mark_as_read,
          context: this,
          success: function(result){
              $("#notifications_content", this).html(result);
              $("#notifications_bell", this).removeClass("notification");
          }
        })
    });

    url_clear_notifications = "{% url "clear_notifications" %}";
        $("#notifications_dropdown").on("click", "#lnk_clear_notifications",function(){
            $.ajax({
              method: "POST",
              url: url_clear_notifications,
              context: $("#notifications_dropdown"),
              success: function(result){
                  $("#notifications_content", this).html(result);
                  $("#notifications_bell", this).removeClass("notification");
              }
            })
        });
</script>
{% endif %}
