{% load i18n %}
{% load format %}


<ul>
    <li {% if not children %} data-jstree='{"icon":"jstree-icon jstree-file"}'{% endif %} id={{ parent.id }}>

        <a href="{% url viewname education_group_year_id=parent.id %}?root={{ root.id }}" {% if parent.id == current_education_group_year.id %}class="jstree-wholerow-clicked"{% endif %} >
            {{ parent.verbose }}
        </a>

        {% for elem in children %}

            {% include "education_group/branch.html" with children=elem.group_element_year_branches parent=elem root=root current_education_group_year=current_education_group_year viewname=viewname only %}
        {% endfor %}
    </li>
</ul>
