{% extends "layout.html" %}
{% load i18n %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'catalog' %}" id="lnk_catalog">{% trans 'formation_catalogue' %}</a></li>
    <li><a href="{% url 'education_groups' %}" id="lnk_formations">{% trans 'formations' %}</a></li>
{% endblock %}


{% block modal %}
    {{ block.super }}

    {% if education_group_year %}
        {% url 'select_education_group_type' category=enums.GROUP parent_id=education_group_year.id as create_group_url %}
        {% url 'select_education_group_type' category=enums.TRAINING parent_id=education_group_year.id as create_training_url %}
        {% url 'select_education_group_type' category=enums.MINI_TRAINING parent_id=education_group_year.id as create_mini_training_url %}
    {% else %}
        {% url 'select_education_group_type' enums.GROUP as create_group_url %}
        {% url 'select_education_group_type' category=enums.TRAINING as create_training_url %}
        {% url 'select_education_group_type' category=enums.MINI_TRAINING as create_mini_training_url %}
    {% endif %}

    {# TODO :  The modal should be loaded only once #}
    {% include "blocks/modal/modal_ajax.html" with modal_url=create_group_url click_id="link_create_group" form_id="form_education_group_type" %}
    {% include "blocks/modal/modal_ajax.html" with modal_url=create_training_url click_id="link_create_training" form_id="form_education_group_type" %}
    {% include "blocks/modal/modal_ajax.html" with modal_url=create_mini_training_url click_id="link_create_mini_training" form_id="form_education_group_type" %}

{% endblock %}
