{% extends "education_group/layout.html" %}
{% load format education_group %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="active">
    {% if education_group_year.education_group_type.category == "TRAINING" %}
        {{ education_group_year.acronym }}
    {% else %}
        {{ education_group_year.partial_acronym }}
    {% endif %}
    </li>
{% endblock %}

{% block header_content %}
<div class="page-header">
    <h2>
        {% if education_group_year.education_group_type.category == "TRAINING" %}
            {{ education_group_year.acronym }} - {{ education_group_year.title }}
        {% else %}
            {{ education_group_year.partial_acronym }} - {{ education_group_year.title }}
        {% endif %}
        <small style="color:black;font-family:Verdana;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{education_group_year.academic_year}}</small>
    </h2>
</div>
{% endblock %}

{% block modal %}
    {% url_name as url_name %}
    {% url 'group_element_year_management' root_id=parent.id education_group_year_id=education_group_year.id group_element_year_id=group_to_parent as detach_url %}
    {% include "blocks/modal/modal_ajax.html" with modal_url=detach_url|addstr:"?action=detach&source="|add:url_name click_class="btn_operation_detach_"|addstr:group_to_parent form_id="form_detach_confirm" %}
{% endblock %}