{% load bootstrap3 i18n %}


{% if request.is_ajax %}
    <div class="modal-content" id="form-modal-content">
        <div id="form-modal-body" class="modal-body">
{% endif %}

            <p>{% blocktrans %}You can not delete this object because some dependencies are protected{% endblocktrans %}</p>
            {% for p in protected_messages %}
                <label>{{ p.year }}</label>
                <ul>
                    {% for protected_object in p.messages %}
                        <li>{{ protected_object }}</li>
                    {% endfor %}
                </ul>
                <br>
            {% endfor %}

{% if request.is_ajax %}
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'cancel' %}</button>
    </div>
    </div>
{% endif %}