{% load i18n %}
{% load format education_group %}


<div id="panel-collapse" class="col-md-0">
    <div id="collapse" class="panel panel-default" style="display:none;overflow: auto;">
        <div class="panel-body">

            {# Button to expand and close all nodes of the trees #}
            <div class="row">
                <a class="button pull-right col-md-1" id="tree_close_all">
                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                </a>

                <a class="button pull-right col-md-1" id="tree_open_all">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
            </div>

            <div class="row" id="panel_file_tree">
                {#                {% build_tree education_group_year.parents.all|first parent.parents.all|first %}#}
            </div>

            {# Tree figure #}
            {#                {% include "education_group/branch.html" with parent=parent children=parent.group_element_year_branches root=parent current_education_group_year=education_group_year viewname=request.resolver_match.url_name only %}#}
        </div>
    </div>
</div>

{{ parent }}