{% load i18n staticfiles %}
{% load format education_group %}


<div id="panel-collapse" class="col-md-0">
    <div id="collapse" class="panel panel-default" style="height: 100%;display:flex;overflow: auto;">
        <div class="panel-body">
            <div class="row" id="panel_file_tree"></div>
        </div>
    </div>
</div>

<script>
    const root_id = "{{ root_id }}";
    const url_resolver_match = "{% url_resolver_match %}";
    const tree = JSON.parse('{{ tree | escapejs }}');
</script>
<script type="text/javascript" src="{% static 'js/education_group/education_group_tree.js' %}"></script>
